
.box
{
	margin: 10px;
	text-align: center;
}

.rows
{
  margin-left: 200px;
}


.centered h1
{
  text-align: center;
}

.coverImg
{
  width: 200px;
}

.centered p
{
  padding: 0 225px 0 225px;
}

body
{
  padding-bottom: 100px;
}