body
{
	
}
.box
{
	margin: 10px;
	text-align: center;
}

.rows
{
  margin-left: 200px;
}


.centered h1
{
  text-align: center;
}

.coverImg
{
  width: 200px;
}

.centered p
{
  padding: 0 225px 0 225px;
}



.carousel img
{
  width: 100%;
  margin: auto;
}

.carousel
{
  width: 50%;
  margin:auto;
}

.ifile_img
{
  width: 100%;
}

hr
{
   display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 3px;
}